<section id="raw-view" class="page-section">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <h3>Raw Data</h3>
                <br />
                <div id="content" class="table-responsive">
                    <h4><b>Rooms</b></h4>
                    <table st-table="vm.rooms" class="table table-striped table-bordered">
                        <thead>
                        <tr>
                            <th>Id</th>
                            <th>Order</th>
                            <th>Name</th>
                            <th>Deleted</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="row in vm.rooms">
                            <td>{{row.room_id}}</td>
                            <td>{{row.room_order}}</td>
                            <td>{{row.room_name}}</td>
                            <td>{{row.room_deleted}}</td>
                        </tr>
                        </tbody>
                    </table>
                    </br >
                    <h4><b>Roles</b></h4>
                    <table st-table="vm.roles" class="table table-striped table-bordered">
                        <thead>
                        <tr>
                            <th>Id</th>
                            <th>Name</th>
                            <th>Deleted</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="row in vm.roles">
                            <td>{{row.role_id}}</td>
                            <td>{{row.role_name}}</td>
                            <td>{{row.role_deleted}}</td>
                        </tr>
                        </tbody>
                    </table>

                    <h4><b>Guests</b></h4>
                    <table st-table="vm.guests" class="table table-striped table-bordered">
                        <thead>
                        <tr>
                            <th>Id</th>
                            <th>Title</th>
                            <th>Intials</th>
                            <th>Last Name</th>
                            <th>First Name</th>
                            <th>Mobile</th>
                            <th>Country</th>
                            <th>Type</th>
                            <th>Login</th>
                            <th>Password</th>
                            <th>Badge</th>
                            <th>Deleted</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="row in vm.guests">
                            <td>{{row.guest_id}}</td>
                            <td>{{row.guest_title}}</td>
                            <td>{{row.guest_initials}}</td>
                            <td>{{row.guest_lastname}}</td>
                            <td>{{row.guest_firstname}}</td>
                            <td>{{row.guest_mobile}}</td>
                            <td>{{row.guest_country}}</td>
                            <td>{{row.guest_type}}</td>
                            <td>{{row.guest_login}}</td>
                            <td>{{row.guest_password}}</td>
                            <td>{{row.guest_badge}}</td>
                            <td>{{row.guest_deleted}}</td>
                        </tr>
                        </tbody>
                    </table>


                    <h4><b>Sessions</b></h4>
                    <table st-table="vm.sessions" class="table table-striped table-bordered">
                        <thead>
                        <tr>
                            <th>Id</th>
                            <th>Date</th>
                            <th>Start</th>
                            <th>End</th>
                            <th>Type</th>
                            <th>Name</th>
                            <th>Display Screen</th>
                            <th>Room Id</th>
                            <th>Deleted</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="row in vm.sessions">
                            <td>{{row.session_id}}</td>
                            <td>{{row.session_date}}</td>
                            <td>{{row.session_start}}</td>
                            <td>{{row.session_end}}</td>
                            <td>{{row.session_type}}</td>
                            <td>{{row.session_name}}</td>
                            <td>{{row.session_display_screen}}</td>
                            <td>{{row.room_id}}</td>
                            <td>{{row.session_deleted}}</td>
                        </tr>
                        </tbody>
                    </table>

                    <h4><b>Moderators</b></h4>
                    <table st-table="vm.moderators" class="table table-striped table-bordered">
                        <thead>
                        <tr>
                            <th>Id</th>
                            <th>Guest Id</th>
                            <th>Session Id</th>
                            <th>Order</th>
                            <th>Role Id</th>
                            <th>Role</th>
                            <th>Role Importance</th>
                            <th>Display Screen</th>
                            <th>Preview</th>
                            <th>Deleted</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="row in vm.moderators">
                            <td>{{row.moderator_id}}</td>
                            <td>{{row.guest_id}}</td>
                            <td>{{row.session_id}}</td>
                            <td>{{row.moderator_order}}</td>
                            <td>{{row.moderator_role_id}}</td>
                            <td>{{row.moderator_role}}</td>
                            <td>{{row.moderator_role_importance}}</td>
                            <td>{{row.moderator_display_screen}}</td>
                            <td>{{row.moderator_preview}}</td>
                            <td>{{row.moderator_deleted}}</td>
                        </tr>
                        </tbody>
                    </table>

                    <h4><b>Interventions</b></h4>
                    <table st-table="vm.interventions" class="table table-striped table-bordered">
                        <thead>
                        <tr>
                            <th>Id</th>
                            <th>Guest Id</th>
                            <th>Session Id</th>
                            <th>Order</th>
                            <th>Role Id</th>
                            <th>Role</th>
                            <th>Role Importance</th>
                            <th>Type</th>
                            <th>Title</th>
                            <th>From</th>
                            <th>To</th>
                            <th>Display Screen</th>
                            <th>Preview</th>
                            <th>Autho1</th>
                            <th>Autho2</th>
                            <th>Autho3</th>
                            <th>Autho4</th>
                            <th>Deleted</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="row in vm.interventions">
                            <td>{{row.intervention_id}}</td>
                            <td>{{row.guest_id}}</td>
                            <td>{{row.session_id}}</td>
                            <td>{{row.intervention_order}}</td>
                            <td>{{row.intervention_role_id}}</td>
                            <td>{{row.intervention_role}}</td>
                            <td>{{row.intervention_role_importance}}</td>
                            <td>{{row.intervention_type}}</td>
                            <td>{{row.intervention_title}}</td>
                            <td>{{row.intervention_from}}</td>
                            <td>{{row.intervention_to}}</td>
                            <td>{{row.intervention_display_screen}}</td>
                            <td>{{row.intervention_preview}}</td>
                            <td>{{row.intervention_autho1}}</td>
                            <td>{{row.intervention_autho2}}</td>
                            <td>{{row.intervention_autho3}}</td>
                            <td>{{row.intervention_autho4}}</td>
                            <td>{{row.intervention_deleted}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
